<!-- ruby syntax includes %ruby goes between%  %= - be eval as ruby as well-->
<!-- find path in rails routes add _path to url path -->
<h1>New Article</h1>

<%= render 'form' %>

    <%= link_to 'Back', articles_path %>